{% extends "base.html" %}
{% load static %}

{% block content %}

<script>
  function register_user() {
    $.ajax({
      url: 'api/register_user/' + document.getElementById("twitterHandleArea").value,
      type: 'PUT',
      success: function(response) {alert("You're now registered with the friendly twitterbot! We got that your twitter was " + document.getElementById("twitterHandleArea").value);}
    })
  }
</script>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Friendly Twitterbot</h1>
    <p>Twitter can be depressing sometimes--that's why we created a bot that keeps an eye on what you're viewing and tweeting, and checks in with you if it thinks your feed may be putting you in a bad mood.</p>
    
  </div>
</div>
<div class="container">
  
  <!-- <hr> -->
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> What does this bot do?</h3>
<!--       <p> It can be hard sometimes to be objective about how you're feeling, even if it's apparent to others around you. But since we share a lot of our feelings online,  -->
      <p>This bot keeps an eye on what you're viewing on Twitter (as well as the tweets you're writing) and uses sentiment analysis to try and figure out if your feed is overly negative. If it thinks your Twitter feed is too depressing, it'll send you a check-in email or text with some recommended resources to help you deal with whatever you're feeling (eg. positive news, meditation/mindfulness tips, etc).
      </p>
      
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Get started!</h3>
      <p> Enter your twitter handle here (needs to be a public account, or the bot won't be able to view/monitor your tweets) and our bot will start monitoring your account and keeping tabs on what you post! </p>

      <form>
        <div class="form-group">
          <label for="exampleInputTwitter">Twitter handle (do not include the @)</label>
          <textarea class="form-control" id="twitterHandleArea" rows="1"></textarea>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Email address (so we can check in with you)</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Look at my past tweets too (not just my new ones)</label>
        </div>
        <button type="submit" class="btn btn-primary" onclick="register_user()">Submit</button>
      </form>
      
      
    </div>
  </div> <!-- row -->

  <!-- row 2 -->
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How does it work?</h3>
<!--       <p> It can be hard sometimes to be objective about how you're feeling, even if it's apparent to others around you. But since we share a lot of our feelings online,  -->
      <p>The bot keeps an eye on two things: <b>what you view</b> and <b>what you post</b>. It keeps track of what you view by going through your following list and running sentiment analysis on these users' Twitter feeds (since their tweets are a large portion of what occupies your feed).
      </p>
      <p>It keeps track of what <i>you</i> post by scraping your recent tweets and running sentiment analysis on them.</p>
      <p>Greater emphasis is placed on what you tweet, but since most people tend to view more than they tweet, we figure it's still very important to consider what's being tweeted by the people you follow.</p>
      
    </div>
  </div>
   
</div>
{% endblock %}
